@import url(Norse-Bold.otf);

body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 60%;
    height: 100vh;
}

.sidebar {
    background-image: url(leaves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
}

.dark-div {
    background-color: black;
    opacity: .5;
    margin-top: 180px;
    height: 130px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.dark-div p{
    color: white;
    margin-top: 30px;
    font-size: 70px;
    font-family: Norse;
}

 img {
    height: 100px;
    margin-top: 10px;
 }

h6 {
    color: white;
    position: relative;
    padding-top: 500px;
    padding-left: 100px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-section {
    height: 180px;
    background-color:rgb(245, 246, 248);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  input, label {
    display: block;
    border-radius: 5px;
    border-color: #E5E7EB;
    border-width: thin;
    padding: 5px;
    margin-left: 30px;
}

input:focus {
    border: 1px solid blue;
    outline: none;
}

.bottom-section {
    height: 300px;
    width: 700px;
    background-color:rgb(245, 246, 248);
    padding-left: 30px;
    padding-right: 30px;
}

.btn {
    background-color: #596D48;
    margin-top: 30px;
    border-radius: 5px;
    padding: 15px 45px 15px 45px;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 2px 2px rgb(231, 227, 227);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

.p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
}

